<table [dataSource]="data" class="mat-elevation-z8" mat-table>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell> ID</th>
    <td *matCellDef="let element" mat-cell> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell> NAME</th>
    <td *matCellDef="let element" mat-cell> {{element.name}} </td>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th *matHeaderCellDef mat-header-cell> CATEGORY</th>
    <td *matCellDef="let element" mat-cell> {{element.category}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th *matHeaderCellDef mat-header-cell> PRICE</th>
    <td *matCellDef="let element" mat-cell>{{element.price | currency: 'EUR'}}</td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th *matHeaderCellDef class="delete-column-width" mat-header-cell></th>
    <td *matCellDef="let element" mat-cell>
      <button (click)="deleteProduct(element.id)" aria-label="Example icon button with a delete icon" color="primary"
              mat-fab>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

<!--without Angular Material UI-->
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <td>ID</td>-->
<!--      <td>Name</td>-->
<!--      <td>Category</td>-->
<!--      <td>Price</td>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    &lt;!&ndash;iterez toate datele cu ngFor&ndash;&gt;-->
<!--    &lt;!&ndash; ngIf pt conditii&ndash;&gt;-->
<!--    <tr *ngFor="let p of data">-->
<!--      <td>{{p.id}}</td>-->
<!--      <td>{{p.name}}</td>-->
<!--      <td>{{p.category}}</td>-->
<!--      <td *ngIf="p.price>10">{{p.price}}</td>-->
<!--      <td *ngIf="p.price<=10">ieftin</td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
